body {
    height: 100vh;
    width: 100vw;
    font-size: 10px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    width: 300px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.15fr 0.50fr 0.75fr 0.50fr;
}

p, ul {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    width: 80%;
    height: 100%;
}

.header {
    grid-column: 1 / span 3;
    grid-row: 1 / 1;
    color: rgb(1, 22, 49);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4.2em;
    width: 100%;
    text-align: center;
}

.subheader {
    grid-column: 1 / span 3;
    grid-row: 1 / 1;
    color: rgb(1, 22, 49);
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 3.2em;
    width: 100%;
    text-align: center;
    margin-top: 85px;
}

.data-comparison-one {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    align-items: center;
    justify-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.orange-virus {
    color: rgb(232, 93, 38);
    float: left;
    padding-right: 15px;
    padding-top: 70px;
}

.paragraph-one {
    border-left: 2px solid rgb(232, 93, 38);
    border-collapse: separate;
    border-spacing: 50px;
    padding-left: 10px;
}

.data-comparison-two {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    display: flex;
}

.yellow-virus {
    color: rgb(246, 189, 96);
    float: left;
    padding-right: 15px;
    padding-top: 70px;
}

.paragraph-two {
    border-left: 2px solid rgb(246, 189, 96);
    border-collapse: separate;
    border-spacing: 50px;
    padding-left: 10px;
}

.data-comparison-three {
    grid-column: 1 / 1;
    grid-row: 4 / 4;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
    display: flex;
    width: auto;
}

.navy-virus {
    color: rgb(61, 90, 128);
    float: left;
    padding-right: 15px;
    padding-top: 70px;
}

.paragraph-three {
    border-left: 2px solid rgb(61, 90, 128);
    border-collapse: separate;
    border-spacing: 50px;
    padding-left: 10px;
}

.data-comparison-four {
    grid-column: 3 / 3;
    grid-row: 4 / 4;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
    display: flex;
}

.blue-virus {
    color: rgb(152, 193, 217);
    float: left;
    padding-right: 15px;
    padding-top: 70px;
}

.paragraph-four {
    border-left: 2px solid rgb(152, 193, 217);
    border-collapse: separate;
    border-spacing: 50px;
    padding-left: 10px;
}

svg {
    font-size: 2.4em;
    fill: #011631;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    justify-content:center;
}

.total-vaccines {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
    display: flex;
}


#admin {
    font-size: 1.5em;
    fill: #011631;
    font-family: 'Montserrat', sans-serif;
    left: 50%;
    position: relative;
    top: 5%;
    bottom: 30%;
    left: 50%;
    align-items: center;
    justify-items: center;
}
